@model List<Postagem>

<a asp-action="Cadastrar">Cadastar postagem</a>

@foreach (Postagem postagem in Model)
{
    <div class="card mb-5 mx-auto w-50">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    Por: @postagem.Usuario.Nome
                </div>
                <div class="col text-center">
                    <span class="badge rounded-pill bg-primary">@postagem.Tag.Nome</span>
                </div>
                <div class="col text-end">
                    
                    @postagem.DataCriacao.ToString("dd/MM/yyyy - hh:mm")
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">@postagem.Titulo</h5>
            <p class="card-text">@postagem.Texto</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <a asp-action="Visualizar" asp-route-id="@postagem.PostagemId">Abrir postagem</a>
            </div>
        </div>
    </div>
}