@model PostagemViewModel

@{
    ViewData["Title"] = "Postagens";
}

<mensagem texto="@TempData["msg"]"></mensagem>
<a class="btn-fixed" asp-action="Cadastrar"><i class="fa-solid fa-circle-plus fa-3x"></i><label class="badge bg-primary text-wrap hide mt-1">Nova Postagem</label></a>

<div class="text-center mb-4 mx-auto w-50">
    <h1>Postagens FourBlog</h1>
    <div class="form-floating mt-4">
        <form asp-action="Index">
            <div class="input-group">
                <select name="tag" class="form-select" asp-items="Model.Tags" id="selectTag">
                    <option value="">Escolha uma tag...</option>
                </select>
                <input type="text" class="form-control" name="tag" placeholder="ou digite uma palavra chave" id="inputTag" />
                <button type="submit" class="btn btn-outline-primary btn-sm input-group-text"><i class="fa-solid fa-magnifying-glass"></i> </button>
            </div>
        </form>
    </div>
</div>

@foreach (Postagem postagem in Model.Postagens)
{
    <div class="card mb-5 mx-auto w-50">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <span class="badge rounded-pill bg-primary">@postagem.Tag.Nome</span> Por: @postagem.Usuario.Nome
                </div>
                <div class="col text-end">
                    <span class="badge text-muted">@postagem.DataCriacao</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">@postagem.Titulo</h5>
            <p class="card-text">@postagem.Texto</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <a asp-action="Visualizar" asp-route-id="@postagem.PostagemId">Abrir postagem</a>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $('#inputTag').keyup(function(e) {
            if (this.value.length > 0) {
                $('#selectTag').prop('disabled', true);
            } else {
                $('#selectTag').prop('disabled', false);
            }
        });

        $('#selectTag').on('change', function(e) {
            if (this.value == '') {
                $('#inputTag').prop('disabled', false);

            } else {
                $('#inputTag').prop('disabled', true);
            }
        });
    </script>
}