@inject SignInManager<Usuario> SignInManager
@model PostagemViewModel

@{
    ViewData["Title"] = "Visualizar Postagem";
}

<a asp-action="Index" class="d-flex text-decoration-none">
    <i class="fa-solid fa-circle-left fa-2x me-2"></i>
    Voltar para postagens
</a>

<div class="card mb-5 mx-auto w-50">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span class="badge rounded-pill bg-primary">@Model.Postagem.Tag.Nome</span> Por: @Model.Postagem.Usuario.Nome
            </div>
            <div class="col text-end">
                <span class="badge text-muted">@Model.Postagem.DataCriacao.ToString("dd/MM/yyyy - hh:mm")</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Postagem.Titulo</h5>
        <p class="card-text">@Model.Postagem.Texto</p>
    </div>
    <div class="card-footer text-muted">
        <div class="collapse mt-2 mb-4" id="collapseComentarios">
            <h5 class="text-center mb-2">Comentários <i class="fa-solid fa-comments"></i></h5>
            <hr />
            @foreach (Comentario comentario in Model.Comentarios)
            {
                <div class="mb-3">
                    <p>
                        <b>@comentario.Usuario.Nome</b>: @comentario.Texto
                        <span class="badge text-black-50 bg-opacity-75">
                            @comentario.DataHora
                        </span>
                    </p>
                </div>
            }

            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-action="Comentar">
                    <input type="hidden" asp-for="Comentario.PostagemId" value="@Model.Postagem.PostagemId">
                    <div class="input-group-sm">
                        <input type="text" class="form-control" asp-for="Comentario.Texto" placeholder="Comentar na postagem...">
                    </div>
                </form>
            }
            else
            {
                <div class="text-center">
                    <p><a asp-area="Identity" asp-page="/Account/Login">Entre</a> para comentar.</p>
                </div>

            }
        </div>
        <div>
            <a data-bs-toggle="collapse" href="#collapseComentarios" id="btnComentarios">Ver Comentários</a><i class="fa-solid fa-comments ms-2 text-danger"></i>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#btnComentarios').on("click", function() {
            $(this).text(function(i, text) {
                return text === "Ver Comentários" ? "Ocultar Comentários" : "Ver Comentários";
            })
        });
    </script>
}