@inject SignInManager<Usuario> SignInManager
@model Postagem

@{
    ViewData["Title"] = $"{Model.Titulo}";
}

<erro texto="@TempData["erro"]"></erro>
<mensagem texto="@TempData["msg"]"></mensagem>

<a asp-action="Index" class="d-flex text-decoration-none">
    <i class="fa-solid fa-circle-left fa-2x me-2"></i>
    Voltar para postagens
</a>

<div class="card mb-5 mx-auto w-50">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span class="badge rounded-pill bg-primary">@Model.Tag.Nome</span> Por: @Model.Usuario.Nome
            </div>
            <div class="col text-end">
                <span class="badge text-muted">@Model.DataCriacao</span>
                @if (SignInManager.UserManager.GetUserId(User) == Model.UsuarioId)
                {
                    <a asp-action="Editar" asp-route-id="@Model.PostagemId"><i class="fa-solid fa-pencil"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Titulo</h5>
        <p class="card-text">@Model.Texto</p>
    </div>
    <div class="card-footer text-muted">
        <div class="collapse mt-2 mb-4" id="collapseComentarios">
            <h5 class="text-center mb-2">Comentários <i class="fa-solid fa-comments"></i></h5>
            <hr />
            @foreach (Comentario comentario in Model.Comentarios)
            {
                <div class="mb-3 row">
                    <div class="col">
                        <p class="ms-3">
                            <b>@comentario.Usuario.Nome</b>: @comentario.Texto
                            <span class="badge text-black-50 bg-opacity-75">
                                @comentario.DataHora
                            </span>
                        </p>
                    </div>
                    <div class="col-1">
                        @if (SignInManager.UserManager.GetUserId(User) == comentario.UsuarioId)
                        {
                            <a asp-action="ApagarComentario" asp-route-id="@comentario.ComentarioId"><i class="fa-solid fa-trash"></i></a>
                        }
                    </div>
                </div>
            }

            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-action="Comentar">
                    <input type="hidden" name="PostagemId" value="@Model.PostagemId">
                    <div class="input-group-sm">
                        <input type="text" class="form-control" name="Texto" placeholder="Comentar na postagem..." required>
                    </div>
                </form>
            }
            else
            {
                <div class="text-center">
                    <p><a asp-area="Identity" asp-page="/Account/Login">Entre</a> para comentar.</p>
                </div>

            }
        </div>
        <div>
            <a data-bs-toggle="collapse" href="#collapseComentarios" id="btnComentarios">Ver Comentários</a><i class="fa-solid fa-comments ms-2 text-danger"></i>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#btnComentarios').on("click", function() {
            $(this).text(function(i, text) {
                return text === "Ver Comentários" ? "Ocultar Comentários" : "Ver Comentários";
            })
        });
    </script>
}